#blackout {
    position: absolute;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(50,50,50,0.5);
}

.popup {
    width: 100%;
    min-height: 50%;
    height: fit-content;
    max-height: 100vh;
    background: #f5f2f0;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.1rem;
    white-space: pre;
    display: none;
    flex-direction: column;
}

.popup .boxen {
    height: 100%;
    min-height: 200px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.boxen > div {
    flex-grow: 1;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
}

.popup select {
    width: fit-content;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.popup textarea {
    background: white;
    height: 100%;
    font-size: 1rem;
    overflow-y: scroll;
    overflow-x: scroll;
}

.popup textarea.notes {
    display: none;
}

.popup .buttondiv {
    align-self: center;
    display: flex;
    flex-direction: row;
}
#alignbutton {
    margin-right: 0.5rem;
}
#saveasbutton {
    display: none;
}
.popup button {
    width: fit-content;
    margin-top: 1rem;
    align-self: center;
}

.output-boxen {
    display: none;
    margin-top: 0.5rem;
    justify-content: space-between;
}

.output-boxen > div {
    overflow-y: scroll;
    overflow-x: scroll;
    /*height: 300px;*/
    max-height: 40vh;
    width: 50%;
}

.popup-output {
    background: white;
    position: relative;
}

.popup-warnings {
    border: 1px dotted red;
    margin-right: 0.5rem;
}

.popup-warnings > div {
    margin-right: 1rem;
}

.popup-warnings table {
    width: min-content;
    border-collapse: collapse;
    margin-bottom: 0.5rem;
}
.popup-warnings td {
    text-align: center;
    font-size: 1.2rem;
    line-height: 100%;
    text-wrap: nowrap;
    word-break: keep-all;
    white-space: nowrap;
}
.popup-warnings td.mismatch {
    background: rgb(200,200,200);
}
.popup-warnings td.typo {
    background: #FF3535;
}

.popup-output {
    white-space: pre;
    /*height: 300px;*/
    max-height: 50%;
    overflow-y: scroll;
}

.popup-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.switcher {
    display: flex;
    writing-mode: vertical-lr;
    overflow: visible;
    width: fit-content;
}
.switcher > div {
    margin-right: 0.5rem;
    background: rgba(135,135,135,0.3);
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 0.3rem 0.2rem 0.4rem 0;
    cursor: pointer;
}

.switcher > div.selected {
    border: 1px solid black;
    border-left: 0;
    background: none;
}

.switcher > div:not(.selected):hover {
    background: #ff9900;
}

.popup-output table {
    width: 100%;
}
.popup-output th {
    font-size: 1.2rem;
}
.popup-output thead th {
    font-size: 1.1rem;
}
.popup-output tr:nth-of-type(odd) {
    background: rgba(0,0,0,0.2);
}
.popup-output td {
    font-size: 1.2rem;
    vertical-align: baseline;
}

th.superEntry {
    border-left: 2px solid black;
}

.closeicon {
    display: flex;
    justify-content: flex-end;
    margin-top: -0.8rem;
    margin-right: -0.8rem;
}

.closeicon svg {
    fill: rgba(133,133,133,0.8);
    cursor: pointer;
}

.closeicon svg:hover {
    filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.3));
}
.closeicon svg:hover {
    fill: #ff9900;
}

#wbwbox {
    display: flex;
    flex-grow: 1;
}
#wbwbox textarea {
    flex-grow: 1;
}
